*{
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body{
    margin: auto;
    position: center;
}
body > h1, h2, p {
    margin: 0 10em;
}


.whats {
    display: flex;
}
.whats a{
    background-image: url('../assets/imgs/Retângulo\ Arredondado\ 2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}


/* SEÇÃO HEADER */

header{
    
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex: 1 1 1 0.5em;
    width: 100%;
    background-color: yellow;
    padding: .5em 10em;
    /* position: fixed; */
}

header ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    min-width: min-content;
}

header ul a{
    margin-left: 1em ;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: .5em;
    position: relative;

}
 
header ul a::after {
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: black;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    transition: 0.3s ease-in-out  ;
    
}

header ul a:hover::after{
    color: #612c83;
    width: 100%;
    
}

/* SEÇÃO HEADER */

/* SEÇÃO BANNER */

.banner{
    background-image:url("./imgs/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 25em;
    
}


.banner h1 {
    padding-top: 2em;
    margin: 0 6.5em;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}

.banner p {
    max-width: max-content;
    margin: 2em 25em 0em 5.5em;
    padding: 0em 1em   ;
    box-sizing: content-box;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #509aaf71;
}
/* SEÇÃO BANNER */

/* SEÇÃO PARAGRAFOS */
main {
    text-align: center;
}
main h1 {
    text-transform: uppercase;
    color: #612c83;
    text-align: center;
}

.sobre h1, h2{
    margin: 3em 0em 1em 0em;
}

.p2{
    margin: 3em 10em 1em 10em;
}

.sobre h2{
    margin: 2em 0em;
}

.servicos{
    margin-left: 13em ;
    margin-right: 13em;
}


/* BULLET POINTS */
.bullet img{
    width: 7em;
}

.bullet{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em 0em;

}

.bullet ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;

}

.bullet ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
    width: 8em;
    min-width: 10em;
    margin: 0em 1em;

    
}

.bullet ul li p {
    font-size: .9em;
    padding: 1em ;
    
}

/* SEÇÃO PARAGRAFOS */

/* SEÇÃO COBERTURA NACIONAL */

.coberturanacional {
    background-image: url('./imgs/GettyImages-803752422.jpg');
    color: white;
    min-height: 30em;
    padding: 3em 0em;
}

.coberturanacional h1 {
    padding: 1em 0em;
    color: white;
    text-transform: uppercase;
    font-weight: 700;

}

.coberturanacional h2 {
    
    text-transform: uppercase;
    font-size: 1em;
}

/* SEÇÃO COBERTURA NACIONAL */

/* SEÇÃO CONTATO */

.contato{
    padding: 3em 10em;
    background-color: #363636;
    color: white;
}

.contato h1 {
    text-transform: uppercase;
    color: white;
}
.formetexto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.paragrafocontato{
    text-align: left;
    max-width: 40%;
}

.formetexto h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
    margin: 2em 0em;
}

.formetexto p {
    margin: 1em 0em;
}

.pontualidadeeseg{
    display: flex;
    gap: 1em;
    align-items: flex-start;
}

.formetexto form {
    
    display: flex;
    flex-direction: column;
    max-width: 60%;
    width: 25em;
    height: 20em;
    color: black;
    background-color: white;
    
}
form img{
    width: 1em;
    position: relative;
}

.form div{
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: medium;
    outline: none;

}
form p{
    font-weight: bold;
    text-transform: uppercase;
} 

form input, textarea{
    
    margin: .5em 1em;
    border-radius: .5em;
    padding: .5em;
    border-color: #612c83;
}

form button {
    margin: .5em 1em;
    padding: .5em;
    border-radius: .3em;
    border-color: #61aec3;
    background-color: #509aaf;
    color: white;
    font-weight: bold;
}

form button:hover {
    background-color: #63b2c8;
    cursor: pointer;
}

/* SEÇÃO 